{% extends 'index.html' %}
{% load static %}

{% block title %}Детали заказа{% endblock %}

{% block content %}
    <nav class="nav">
        <div class="nav-left">
            <a class="" href="#"><img class="bag24" src="{% static 'images/header.svg' %}" style=""></a>
            <div class="nav-title">Экспресс печать</div>
            <a href="{% url 'operator' slug=order.pos.slug %}"><img class="arrow-back"
                                                                src="{% static 'images/arrow_back.svg' %}"></a>
        </div>
    </nav>
    <div id="alert" style="display: none">
        <div class="div-alert" style="background: #B3E5C4" >
            <label class="semi f-18 black">Отправлено на печать</label>
        </div>
    </div>

    <div id="pick-up-ls" style="display: block">
        <div class="pos-name" align="center">
            <h2 class="middle" style="color: black;">Печать</h2>
        </div>
        <div class="main-div-print">
            <div class="div-order-composition">
                <div align="center" class="div-choice-delivery-company" style="align-items: flex-start">
                    <label class="semi f-16 grey">Состав заказа</label>
                    {% for doc in order.documents.all %}
                        <div class="div-input">
                            <div class=""
                                 style="display: flex;flex-direction: row;justify-content: space-between;align-items: center">
                                <div style="display: flex; flex-direction: column;align-items: flex-start">
                                    <label class="semi f-18 black">{{ doc.name }}</label>
                                    <label class="semi f-16 grey">Количество копий: {{ doc.copy }}</label></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="div-price">
                <div class="div-price-item">
                    <label class="semi f-18 black">Общее количество страниц</label>
                    <h2 class="middle" style="color: black;">{{ order.list_count }}</h2>
                </div>
                <div class="div-price-item">
                    <label class="semi f-18 black">Тариф</label>
                    <h2 class="middle" style="color: black;">{{ order.price_per_list }} ₽ страница</h2>
                </div>
                <div class="line"></div>
                <div class="div-price-item">
                    <label class="semi f-18 black">Итоговая стоимость</label>
                    <h2 class="middle" style="color: black;">{{ order.amount }} ₽</h2>
                </div>
                {% csrf_token %}
                <div style="display: flex">
                    <button type="button" id="printing" class="btn bold" style="margin-right: 4.7%">Печать</button>
                    <a id="pay-pick-up-ls" class="btn bold">Завершить</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



{% block script %}
    <script>
        jQuery(function () {

            const dis = function () {
                $('#printing').removeAttr('disabled')
                $('#alert').hide()
            }

            var data = {"csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val()}
            data['id'] = {{ order.id }}
                $('#pay-pick-up-ls').click(function () {

                    $.ajax({
                        type: "POST",
                        url: document.location.origin + '/operator/{{ order.pos.slug }}/success_print',
                        data: data,
                        dataType: 'json',
                        success: function (data) {

                            var url = document.location.origin + '/operator/{{ order.pos.slug }}';
                            document.location.href = url
                        }
                    });
                });
            $('#printing').click(function () {
                $.ajax({
                    type: "POST",
                    url: 'printing',
                    data: data,
                    dataType: 'json',
                    success: function (data) {
                        if (data.ok === 'ok') {
                            $('#printing').attr('disabled', 'disabled')
                            $('#alert').show()
                            setTimeout(dis, 10000);
                        }
                    }
                });
            });
        })
    </script>
{% endblock %}
